.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 500;
  color: #080808;
  font-size: 18px;
}

.activeLink {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 500;
  font-size: 18px;
  color: #008cba;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
  margin-bottom: 16px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
