.form {
  display: block;
  box-sizing: border-box;
  margin-top: 20px;
  margin-left: 20px;
}
.label {
  display: block;
  margin-bottom: 0.25rem;
  font-size: large;
  font-weight: 600;
  margin-bottom: 10px;
}
.input {
  display: block;
  width: 200px;
  padding: 0.375rem 0.75rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin-bottom: 5px;
}
.input::placeholder {
  color: #212529;
  opacity: 0.4;
}
.button {
  margin-left: 25px;
  display: inline-block;
  padding: 5px 15px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: rgb(117, 98, 213);
  border: none;
  border-radius: 15px;
  box-shadow: 0 4px rgb(153, 153, 153);
}

.button:hover {
  background-color: rgb(100, 77, 213);
}
